Package: almost-scrum
Version: 0.5
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 30MB
Maintainer: Francesco <almost-scrum@protonmail.com>
Description:Open source Scrum tool
    Command line and Web tool to manage a project in almost Scrum style
    Key features:
    - simple
    - can be used in decentralized way... or not
    - data is stored on the file system in Markdown format
    - include some simple document management
    - happy to integrate with Git
