section.cover {
    margin-top: 10%;
}

section.cover h1 {
    font: 30pt Arial bold;
    text-align: center;
}

section.cover h2 {
    font: 26pt Arial italic;
    text-align: center;
}


div.sectionTitle {
    font: 28px Arial bolder;
    text-align: center;
}

section {
    string-set: header content();
}